

iframe{margin: .6em; height: 1000px;border-radius: 30px;}


.mt-5, .my-5 {
    
    margin-top: 3rem !important;
    
}
.col-lg-6 {
    
    flex: 0 0 50%;
    max-width: 50%;
    
    
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    display: block;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    
}

.p-3 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
}

.h-100 {
    height: 100% !important;
}
.flex-column {
    flex-direction: column !important;
}
.d-flex {
    display: flex !important;
}
.rounded {
    border-radius: 0.50rem !important;
}

.bg-white {
    background-color: #fff !important;
    max-width: 1000px;
}

.col-9 {
    flex: 0 0 75%;
    
}

*, ::before, ::after {
    text-shadow: none !important;
    box-shadow: none !important;
}
*, ::before, ::after {
    box-sizing: border-box;
}

a:not(.btn) {
    text-decoration: underline;
}

a {
    
    text-decoration: none;
    background-color: transparent;
}
*, ::before, ::after {
    text-shadow: none !important;
    box-shadow: none !important;
}
*, ::before, ::after {
    box-sizing: border-box;
}

.mt-n5, .my-n5 {

    margin-top: -3rem !important;

}
tr, .break {

    page-break-inside: avoid;

}
img {

    vertical-align: middle;
    border-style: none;

}

.line-height-1 {
    line-height: 1rem;
}

.text-right {
    text-align: right !important;
}
.d-sm-block {
    display: block !important;
}
.d-none {
    display: none !important;
}
.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    color:#9037CC
}

.pb-3, .py-3 {
    padding-bottom: 1rem !important;
}
.pt-3, .py-3 {
    padding-top: 1rem !important;
}

.align-items-end {
    align-items: flex-end !important;
}
.flex-grow-1 {
    flex-grow: 1 !important;
}

.pb-1, .py-1 {
    padding-bottom: 0.25rem !important;
}
.col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
    
}




/**/
.btntype{
        /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
        align-items: flex-end;
        padding: 5px;

        border-radius:100px;
        border-color: #48cae4;
        background-color: transparent;
        color: #48cae4;
        border:1.5px solid
        
        
        
}

.container {
    max-width: 720px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.ftype{font-family: 'Cormorant Garamond', cursive;font-size: 20px; color: #000;}

.ttype{
    font-family: 'Oxygen', cursive;
    font-size: 25px;
}

/**/


.row ::selection{

    
color:  #fff;

background-color:#5c80bc;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
}

head{
    display: none;
}

header{
    flex-wrap: nowrap;
}

*{
    display: flex;
    flex-wrap: wrap;
}
